.tong{
    width: 800px;
    height: 350px;
}
.video{
    width: 650px;
    height: 350px;
    background-color: aquamarine;
    margin-right: 10px;
    float: left;
}
.anh-video{
    width: 140px;
    height: 100px;
    margin-bottom: 20px;
    float: left;
    
}
